%p
  %h3
    Basic offer information
  = render :partial => "offer"
%p
  %h3
    Click tracking information
  = render :partial => "click"
=#%p
=#  %h3
=#    HasOffers API information
=#  = render :partial => "hasoffers"


= @affiliate_id

